.password {
  position: relative;

  input {
    padding-right: calc(33px + var(--md));
  }

  .inputErr {
    outline: var(--err-outline);
  }

  .emoji {
    position: absolute;
    right: var(--md);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
  }
}
