.password {
  position: relative;

  input {
    padding-right: calc(34px + var(--md));
  }

  .input_err {
    outline: var(--err_outline);
  }

  .emoji {
    position: absolute;
    right: var(--md);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    cursor: pointer;
  }
}
