:root {
  --bg_main: black; /* Fondo Principal */
  --bg_surf: rgb(12, 12, 12); /* Superficie */
  --primary: hsl(260, 100%, 65%); /* Primario */
  --secondary: steelblue; /* Secundario */
  --titles: whitesmoke; /* Texto Principal */
  --paras: whitesmoke; /* Texto Secundario */
  --hl: #ffbc42; /* Resaltado */
  --accent: #dd4ea5; /* Acento */

  /* Common */
  --blue: dodgerblue;
  --red: crimson;
  --green: yellowgreen;
  --grey: grey;
  --lgrey: hsl(0, 0%, 75%);
  --black: black;
  --lblack: #161616;
  --white: whitesmoke;
}
