:root {
  --bg-main: black; /* Fondo Principal */
  --bg-surf: rgb(14, 14, 14); /* Superficie */
  --primary: hsl(260, 100%, 65%); /* Primario */
  --secondary: #9d2f6b; /* Secundario */
  --titles: #fff; /* Texto Principal */
  --paras: #fff; /* Texto Secundario */
  --hl: #ffbc42; /* Resaltado */
  --accent: #dd4ea5; /* Acento */

  /* Common */
  --blue: #489cfc;
  --red: #ca1a14;
  --green: #8c9900;
  --grey: #9d9d9d;
  --black: black;
  --white: whitesmoke;
  --line: #202020;
}
